/*

    ######   #        #     #  #######  #        ###   #####   #     #  ####### 
    #     #  #        #     #  #        #         #   #     #  #     #     #    
    #     #  #        #     #  #        #         #   #        #     #     #    
    ######   #        #     #  #####    #         #   #  ####  #######     #    
    #     #  #        #     #  #        #         #   #     #  #     #     #    
    #     #  #        #     #  #        #         #   #     #  #     #     #    
    ######   #######   #####   #######  #######  ###   #####   #     #     #    

    ===========================================================================

    Developed by (C) Mundo Labs.
    mundolabs.cc

*/

/* ====== CONFIG ====== */

/* Theme */
@use 'theme';

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';


/* ========================  /
/  ====== COMPONENTS ======  /
/  ======================== */

body {
    font-family: theme.$primaryFont;
    background-color: theme.$white;
    user-select: none;
    -webkit-user-select: none;
}

/* ====== BUTTONS ====== */

%button {
    border-radius: theme.$button-cornerRadius;
    padding: 8pt;
    position: absolute;
    cursor: pointer;
    transition: 0.3s;
    vertical-align: middle;

    p {
        padding: 0;
        margin: -0.5pt 0 0 0;
    }

    span.material-icons {
        vertical-align: middle;
        margin: -2.25pt 4pt 0pt 0;
        padding: 0;
        font-size: 14pt;
    }
}

%buttonPrimary {
    @extend %button;
}

%buttonSecondary {
    @extend %button;
}

%buttonHover {
    border-radius: theme.$button-cornerRadius--hover;
    scale: 1.05;
}

$colourArray:
    "white" theme.$white theme.$onWhite,
    "black" theme.$black theme.$onBlack,

    "grey-100" theme.$grey-100 theme.$onGrey-100,
    "grey-200" theme.$grey-200 theme.$onGrey-200,
    "grey-300" theme.$grey-300 theme.$onGrey-300,
    "grey-400" theme.$grey-400 theme.$onGrey-400,
    "grey-500" theme.$grey-500 theme.$onGrey-500,
    "grey-600" theme.$grey-600 theme.$onGrey-600,
    "grey-700" theme.$grey-700 theme.$onGrey-700,
    "grey-800" theme.$grey-800 theme.$onGrey-800,

    "blue-100" theme.$blue-100 theme.$onBlue-100,
    "blue-200" theme.$blue-200 theme.$onBlue-200,
    "blue-300" theme.$blue-300 theme.$onBlue-300,
    "blue-400" theme.$blue-400 theme.$onBlue-400,
    "blue-500" theme.$blue-500 theme.$onBlue-500,
    "blue-600" theme.$blue-600 theme.$onBlue-600,
    "blue-700" theme.$blue-700 theme.$onBlue-700,
    "blue-800" theme.$blue-800 theme.$onBlue-800,

    "red-100" theme.$red-100 theme.$onRed-100,
    "red-200" theme.$red-200 theme.$onRed-200,
    "red-300" theme.$red-300 theme.$onRed-300,
    "red-400" theme.$red-400 theme.$onRed-400,
    "red-500" theme.$red-500 theme.$onRed-500,
    "red-600" theme.$red-600 theme.$onRed-600,
    "red-700" theme.$red-700 theme.$onRed-700,
    "red-800" theme.$red-800 theme.$onRed-800,

    "green-100" theme.$green-100 theme.$onGreen-100,
    "green-200" theme.$green-200 theme.$onGreen-200,
    "green-300" theme.$green-300 theme.$onGreen-300,
    "green-400" theme.$green-400 theme.$onGreen-400,
    "green-500" theme.$green-500 theme.$onGreen-500,
    "green-600" theme.$green-600 theme.$onGreen-600,
    "green-700" theme.$green-700 theme.$onGreen-700,
    "green-800" theme.$green-800 theme.$onGreen-800;

@each $i in $colourArray {

    .buttonPrimary--#{nth($i, 1)} {
        @extend %buttonPrimary;
        background: linear-gradient(90deg, nth($i, 2), darken(nth($i, 2), 5%));
        color: nth($i, 3);

        &:hover {
            @extend %buttonHover; 
            background: linear-gradient(90deg, nth($i, 2), darken(nth($i, 2), 5%));
        }
        
    }

    .buttonSecondary--#{nth($i, 1)} {
        @extend %buttonSecondary;
        background-color: transparent;
        color: nth($i, 2);

        &:hover {
            @extend %buttonHover; 
            background-color: rgba(nth($i, 2), .1);
        }
    }
}